@font-face {
    font-family: "Gotham_Light";
    src: url("fonts/Gotham Light.otf");
}

@font-face {
    font-family: "Gotham_Regular";
    src: url("fonts/Gotham Regular.otf");
}


@font-face {
    font-family: "Gotham_Medium";
    src: url("fonts/Gotham Medium.otf");
}

@font-face {
    font-family: "Gotham_Bold";
    src: url("fonts/Gotham Bold.otf");
}

body{
    font-family: "Gotham_Medium";
    color: #0e1311;
}
.font-light{
    font-family: "Gotham_Light";
}
.font-bold{
    font-family: "Gotham_Bold";
}
.font-normal{
    font-family: "Gotham_Medium";
}

.font-bolder{
    font-family: "Gotham_Regular";
}
.header-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 100;
}

.mt-80{
    margin-top: 80px;
}

.main-nav{
    margin: 0;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.btn-green-border{
    background: #fff;
    border: 2px solid #f97777;
    color: #f97777;
    outline: none;
    box-shadow: none;
}

.btn-black-border{
    background: #fff;
    border: 2px solid #000;
    color: #000;
    outline: none;
    box-shadow: none;
}


.btn-green-border:hover{
    color: #f97777;
}

.btn-black-border:hover{
    color: #000;
}
.search-btn{
    color: #333;
    font-size: 17px;
}
.search-btn:hover{
    color: #333;
}

.bg-light-gray{
    background-color: #F4F6FB;
}
.company-btn{
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    padding: 50px 0px 20px 0;
    transition: all .15s ease-in-out;
    outline: none !important;
    outline-color: transparent !important;
    box-shadow: none !important;
}
.company-btn:focus{
    outline: none !important;
}
.company-btn::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 15px solid #F4F6FB;
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.company-img{
    width: 40px;
    height: 40px;
}
.stats-circle{
    position: relative;
    height: 100px;
    overflow: hidden;

}
.right-box{
    width: 200px;
    margin-left: auto;
    text-align: center;
}

.half-circle {
    width: 200px;
    height: 200px;
    border: 24px solid #E8E8E8;
    border-radius: 50%;

    top: 0;
    right: 0;
    position: absolute;
}
.half-circle.prog{
    border-color:#f97777;
    border-bottom-color: transparent;
    border-left-color: transparent;
    /* 180/100 = 1.8deg per percentage */

    /*
    perc = Percentage you want
    -45 - {1.8*(100-perc)} =  ?
    */

    /*

    -45 - {1.8*(100-94)} =  ?
    -45 - (1.8*6) = -55.8

    */
    transform: rotate(-55.8deg);
}

.prog-text{
    color: #f97777;
    position: absolute;
    width: 200px;
    bottom: 0;
    right: 0;
    text-align: center;
    height: 45px;
}

.prog-per{
    font-size: 36px;
    font-weight: 800;
}

.prog-sign{
    font-size: 20px;
}


/* main body */


.line-text{
    position: relative;
}
.line-text i{
    color: #f97777;
}

.line-text::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #f97777;
}
.green-badge{
    background-color: #f97777;
    text-align: left;
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    vertical-align: top;
}

/* star rating button */

.review-box {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}
.review-box .review-inner {
    display: inline-block;
    position: relative;
    padding: 30px 70px 42px;
}
.review-inner:hover  .shapes-left {
    left: 5px !important;
    bottom: 5px !important;
}

.review-inner:hover .shapes-right {
    right: 5px !important;
    top: 5px !important;
}


.review-box .review-buttons {
    position: relative;
    z-index: 80;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    padding: 0;
}
.review-box .bg-shapes {
    position: absolute;
    z-index: 60;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}
.review-link{
    display: inline-block;
    background-color: transparent;
    border: 1px solid #d0d0da;
    padding: 10px 12px;
    margin-left: 2px;
    margin-right: 2px;
    line-height: 14px;
    border-radius: 4px;
    box-shadow: 0 3px 5px -2px rgba(0,0,0,.1);
    transition: all .2s ease;
    cursor: pointer;
    float: right;
}

.review-link:hover , .review-link:hover ~ .review-link{
    color: #fff !important;
    background-color: #f97777;
}

.review-link.active{
    color: #fff !important;
    background-color: #f97777;
}
.review-link.active i{
    color: #fff !important;
}

.review-link:hover i,.review-link:hover  ~ .review-link i{
    color: #fff !important;
}

.review-link i {
    color: #d3d3d7;
    font-size: 32px;
    transition: all .2s ease;
}

.review-box .bg-shapes img {
    position: absolute;
    display: inline-block;
    width: 100px;
    transition: all .35s ease-in-out;
}
.review-box .bg-shapes .shapes-right {
    right: 0;
    top: 0;
    transform: translate(0,0) rotateZ(180deg);
}
.review-box .bg-shapes .shapes-left {
    left: 0;
    bottom: 0;
    transform: translate(0,0);
}
/* review section */

.btn-transparent{
    outline: none !important;
    box-shadow: none !important;
    display: inline-block;
}

.dropdown-toggle::after{
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border: none;
    vertical-align: 0;
}
.dropdown-item{
    font-family: "Gotham_Light";
}

.dropdown-item:hover{
    font-family: "Gotham_Medium";
}
.dropdown-menu-right{
    min-width: 100%;
}
/* rating box */

.rating-heading{
    display: flex;
    margin-bottom: 15px;
}

.discription{
    padding: 10px 15px 5px 20px;
    position: relative;
    display: inline-block;
    font-family: "Gotham_Light";
    margin-bottom: 25px;
}

.quote-up , .quote-down{
    font-size: 22px;
    font-weight: 800;
    position: absolute;
    display: inline-block;
    height: 20px;
    line-height: 30px;
    font-family: "Gotham_Medium";
}

.quote-up{
    left: 0;
    top: -5px;
}

.quote-down{
    right: 0;
    bottom: -12px;
}
/* user reaction */

.user-cont{
    display: inline-block;
    margin-right: -10px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    padding: 0 10px;
    height: 30px;
    transition: all .2s ease-in-out;
    border: 1px solid transparent;
    border-radius: 100px;
    line-height: 27px;
    color: #a2a1a7;
    cursor: pointer;
    text-decoration: none !important;
}

.user-cont:hover{
    color: #6f6d75;
    margin-right: 0;
}

.user-hide{
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    position: relative;
    top: 0;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width .3s ease-in-out,opacity .3s ease-in-out,margin .3s ease-in-out;
}
.user-cont:hover .user-hide{
    max-width: 100px;
    margin-left: 3px;
    opacity: 1;
}

.user-hide > span{
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    text-align: center;
    line-height: 20px;
}


.user-hide > span.fb-share{
    background-color: #3c5b9b;
}
.user-hide > span.tw-share{
    background-color: #28a9e0;
}
.text-small{
    font-size: 0.9rem;
}
.disabled{
    cursor: no-drop;
}
.disabled > a{
    /* pointer-events: none; */
    cursor: no-drop;
}


/* pagination */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination > li > a {
    text-decoration: none;
    background-color: #f0f0f0;
    display: inline-block;
    color: #777;
    min-width: 40px;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
}
.pagination > li > a.active{
    background-color: #f97777;
    color: #fff;
}

.footer-list h6 a{
    font-size: 0.8rem !important;
    color: #000 !important;
}

.footer-list a{
    position: relative;
    text-decoration: none !important;
}

.footer-list a::after{
    position: absolute;
    right: 6px;
    display: inline-block;
    font-size: 12px;
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0;
    opacity: 0;
    transition: all .15s ease-in-out;
    height: 13px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(141, 141, 141);
    top: 0;
    bottom: 0;
}

.footer-list a:hover::after{
    opacity: 1;
    right: -12px;
}

.footer-logo{
    max-width: 130px;
    filter: grayscale(1);
    transition: 0.3s;
}
.footer-logo:hover{
    filter: grayscale(0);
}

.WriteReviewForm .WriteReviewForm__textarea {
    width: 100%;
    border: 2px dashed #b7b7b7;
    margin-bottom: 5px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    padding: 8px;
    font-size: 16px;
    resize: vertical;
    outline: none !important;
    box-shadow: none !important;
    transition: 0.3s;
}


.WriteForm .WriteForm__smalltext, .WriteForm .WriteReviewForm__smalltext, .WriteReviewForm .WriteForm__smalltext, .WriteReviewForm .WriteReviewForm__smalltext {
    font-size: 12px;
    color: #8c8c8c;
    font-weight: 300;
}

.WriteReviewForm .WriteReviewForm__item {
    margin-bottom: 30px;
}


.Button--green {
    background-color: #3cbb91;
    color: #fff;
    font-size: 16px;
    padding: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    font-weight: 500;
    border: 0;
    transition: all .15s ease-in-out;
}

.Button--green:hover {
    background-color: #37ac85;
    color: #fff;
}


.WriteReviewForm .WriteReviewForm__subheading {
    font-weight: 400;
    color: #0e1311;
    text-align: left;
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin-top: -5px;
    margin-bottom: 15px;
}



.WriteReviewForm .WriteReviewForm__heading {
    font-weight: 800;
    color: #0e1311;
    text-align: left;
    margin-top: 0;
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}


.WriteForm .WriteForm__input, .WriteForm .WriteReviewForm__input, .WriteReviewForm .WriteForm__input, .WriteReviewForm .WriteReviewForm__input {
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 10px;
    border: 2px dashed #b7b7b7;
    outline: none !important;
    box-shadow: none !important;
    transition: 0.3s;
}

.WriteReviewForm__textarea:focus , .WriteForm__input:focus , .WriteReviewForm__input:focus{
    border: 2px dashed #848484;
}
